@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&family=Ubuntu:ital,wght@1,300&display=swap');



.data {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #0077b6;
    font-family:'Roboto Slab',serif;
}
.titulo{
    margin-bottom: 10px;
    margin-left: 10px;
}

p{

    font-family: 'Ubuntu', sans-serif;
}
.bloco{
background-color: #fff1e6; 
margin: 100px;
padding: 100px;
width: 50%;
}

